body {
    padding: 0;
    margin: 0;
}
.container {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
.ball {
    width: 150px;
    height: 150px;
    margin: 5px;
    border-radius: 50%;
    background-color: lightcoral;
    animation-name: slide;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
    /* animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;  */
    animation-fill-mode: both;
}
body:hover .ball{
    animation-play-state: running;
}

@keyframes slide{
    from{
        transform: translateX(0%);
        background-color: lightgreen;
    }
    to{
        transform: translate(600px);
        background-color: lightseagreen;
    }
}